// the main content area
#main {
  .entry-header {
    .entry-title {
      &::before {
        display: none;
      }

      font-weight: 300;
      color: $queens-blue;
    }
  }

  .entry-content {
    blockquote {
      background: url("images/blockquote.svg") no-repeat;
      border: none;
      padding: 30px 0 14px 90px;
      min-height: 105px;

      p {
        color: $queens-red;
        font-weight: 300;
        font-style: italic;
      }
    }
  }
}
